// PRIMARY COLORS
$b-red: hsl(12, 88%, 59%);
$d-blue: hsl(228, 39%, 23%);

// NEUTRAL COLORS
$d-g-blue: hsl(227, 12%, 61%);
$v-d-blue: hsl(233, 12%, 13%);
$v-p-red: hsl(12, 100%, 96%);
$v-l-gray: hsl(0, 0%, 98%);

// REGULAR FONT-SIZE
$reg-fs: 16px;
